
body{
	background: #E0E0E0;
}

a:link{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #A69D85;
}

#headLinks{
	float: right;
	font-family: "BryantPro-Medium", Arial, Helvetica, sans-seif;
	padding: 12px;
}

#headerImg{
	float:left;
	padding: 20px;
}

#logoName{
	float: left;
	font-family: "BryantPro-Medium", Arial, Helvetica, sans-seif;
	font-size: 1.05em;
	letter-spacing: .2em;
	padding: 10px;
}

#logoTitle{
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 1.05em;
	line-height: 120%;
}

li{
	list-style: none outside none;

}


/* #82825A */