
body{
	background: #E0E0E0;
}

a:link{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #A69D85;
}

#headLinks{
	float: right;
	font-family: "BryantPro-Medium", Arial, Helvetica, sans-seif;
	padding: 12px;
	display: inline-block;
}

#headerImg img{
	position: absolute;
	padding-top: 10px;
	padding-left: 10px;
}

#logoName{
	float: left;
	font-family: "BryantPro-Medium", Arial, Helvetica, sans-seif;
	font-size: 1.05em;
	letter-spacing: .2em;
	padding-top: 20px;
	padding-left: 60px

}

#logoTitle{
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 1.05em;
	line-height: 120%;
	padding-top: 40px;
	padding-left: 0px;
}

li{
	list-style: none outside none;

}


/* 
#82825A 
padding: 10px, 10px, 10px, 30px
*/