
body{
	background: #E0E0E0;
}

a:link{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #A69D85;
}

#headLinks{
	float: right;
	font-family: "BryantPro-Medium", Arial, Helvetica, sans-seif;
	padding: 12px;
	padding-top: 25px;
	display: inline-block;
}

#headerImg img{
	position: absolute;
	height: 43px;
	width: 39px;
	padding-top: 10px;
	padding-left: 10px;
}

#logoName{
	position: absolute;
	font-family: "BryantPro-Medium", Arial, Helvetica, sans-seif;
	font-size: 80%;
	font-weight: 500;
	letter-spacing: .2em;
	padding-top: 4px;
	padding-left: 20px

}

#logoTitle{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 75%;
	line-height: 120%;
	padding-top: 21px;
	padding-left: 20px;
}

li{
	list-style: none outside none;

}


/* 
#82825A 
padding: 10px, 10px, 10px, 30px
*/